body{
  margin:0px;
 
 
}



.ttt-square{
  border: solid black 3px;
  min-height:100px;
  width:30%;
  float:left;
}
#game-over p{
  z-index:999;
  background-color:rgba(0,0,0,0.5);
 position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  display:none;
}
#game-over div{
  background-color:white;
  width:100%;
  border-radius:10px;
  text-align:center;
  padding:30px;
  margin:200px auto;
  font-size:2rem;
}
